div.photoframe{
	position:relative;
	width: 200px;
	height:200px;
	/* box-shadow: 4px -4px 4px #888; */
}
div.frame{
	width:200px;
	height:200px;
	z-index:100;
	background-repeat: no repeat;
}

img.frame{
	z-index: 100;
}

div.photoframe img{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0px;
	left: 0px;
	display: hidden;
}

#cycler{z-index:10; }